target/

*.class
*.tmp
*.bak
~$*


# Windows image file caches
Thumbs.db

# Windows folder config file
Desktop.ini


# Mac junk
.DS_Store


# IdeaJ
*.idea
*.iml

# test files
log4j2-test.xml
ftl-editor.cfg
ftl-editor-log.txt
